In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data = pd.read_csv('coding-class-assets/IPL_2018.csv')

In [3]:
data.tail()

,PLAYER,Matches,Innings,NotOut,TotalRuns,HighScore,Avgerage,BF,StrikeRate,X100,...,Overs,RunsGiven,Wkts,BBI,Avg.y,Econonmy,SR.y,X4w,X5w,y
138,Siddarth Kaul,0,0,0,0,0,0,0,0.0,0,...,66.0,547,21,0,26.04,8.28,18.85,0,0,0
139,Trent Boult,0,0,0,0,0,0,0,0.0,0,...,52.4,466,18,0,25.88,8.84,17.55,0,0,0
140,Umesh Yadav,0,0,0,0,0,0,0,0.0,0,...,53.1,418,20,0,20.9,7.86,15.95,0,0,0
141,Vi0y Kumar,0,0,0,0,0,0,0,0.0,0,...,3.5,65,2,0,32.5,16.95,11.5,0,0,0
142,Yuzvendra Chahal,0,0,0,0,0,0,0,0.0,0,...,50.0,363,12,0,30.25,7.26,25,0,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PLAYER      143 non-null    object
 1   Matches     143 non-null    int64
 2   Innings     143 non-null    int64
 3   NotOut      143 non-null    int64
 4   TotalRuns   143 non-null    int64
 5   HighScore   143 non-null    int64
 6   Avgerage    143 non-null    object
 7   BF          143 non-null    int64
 8   StrikeRate  143 non-null    float64
 9   X100        143 non-null    int64
 10  X50         143 non-null    int64
 11  X4s         143 non-null    int64
 12  X6s         143 non-null    int64
 13  Mat.y       143 non-null    int64
 14  Inns.y      143 non-null    int64
 15  Overs       143 non-null    float64
 16  RunsGiven   143 non-null    int64
 17  Wkts        143 non-null    int64
 18  BBI         143 non-null    int64
 19  Avg.y       143 non-null    object
 20  Econonmy    143 non-null    float64
 21  SR.y        143 non-null    object
 22  X4w         143 non-null    int64
 23  X5w         143 non-null    int64
 24  y           143 non-null    int64
dtypes: float64(3), int64(18), object(4)
memory usage: 28.1+ KB

In [5]:
data.shape

(143, 25)

In [7]:
data = pd.read_csv('coding-class-assets/review.csv')

In [9]:
data.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [11]:
data['Review'][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '